Captry\.xcodeproj/project\.xcworkspace/xcuserdata/fauzanachmad\.xcuserdatad/UserInterfaceState\.xcuserstate

Captry\.xcodeproj/xcuserdata/fauzanachmad\.xcuserdatad/xcschemes/xcschememanagement\.plist

\.DS_Store
